.carrot {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../img/background.png) no-repeat center center;
  background-size: cover;
}

/* common */
.round-square {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 8px;
  background: white;
  border: 3px solid brown;
}

.button {
  display: inline-block;
  background: transparent;
  border: 0;
  outline: none; 
  cursor: pointer;
  transition: all 0.3s;
}

img {
  width: 100%;
}

/* corrot */
.carrot {
  position: relative;
  padding-top: 25%;
  box-sizing: border-box;
  text-align: center;

  &__info {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    padding: 20px;
    z-index: 2;
    
    .button {
      display: inline-block;
      min-width: 160px;
      padding: 4px 10px;
      height: 50px;
      font-size: 30px;
      border-radius: 8px;
      color: white;
      background: green;

      &.toggle {
        background: tomato;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .timer {  
      margin : 10px 0;

      &__icon {
        font-size: 30px;
        margin-right: 8px;
      }
    }

    .count {
      &__icon {
        font-size: 30px;
        margin-right: 8px;
      }
    }
  }

  &__audio {
    position: absolute;
    bottom: 20px;
    right: 20px;

    .button {
      font-size: 30px;

      &:hover {
        color: tomato; 
      }
    }
  }

  &__content {
    position: relative;
    height: 100%;

    .item {
      position: absolute;
      top: 0;
      width: 100px;
      cursor: pointer;

      // &__carrot {
      //   width: 80px;
      //   height: 80px;
      //   background: url(../img/carrot.png) no-repeat center center;
      //   background-size: cover;
      // }

      // &__bug {
      //   width: 80px;
      //   height: 80px;
      //   background: url(../img/bug.png) no-repeat center center;
      //   background-size: cover;
      // }
    }
  }
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: wheat;
  width: 300px;
  padding: 30px 20px;
  font-size: 40px;
  border-radius: 10px;
  border: 3px solid brown;

  .button {
    margin-top: 20px;
    font-size: 40px;

    &:hover {
      transform: rotate(-45deg);
    }
  }

  &--show {
    display: block;
  }

}