//size
$width: 800px;
$height: 500px;


/* base */
button {
  border: none;
  background: transparent;
  cursor: pointer;
} 


.ly-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: black;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $width;
  height: $height;
  margin: auto;
  border-radius: 8px;
  background: url(../img/background.png) no-repeat center/cover;
}

.game {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  &__button {
    width: 60px;
    height: 60px;
    background: white;
    border: 4px solid #000;
    border-radius: 4px;
    transition: all 0.3s;

    &:hover {
      background: green;
      color: white;
      border-color: white;
    }
  }

  &__timer {
    width: 100px;
    background: white;
    text-align: center;
    border: 5px solid black;
    border-radius: 4px;
    font-size: 2rem;
    margin: 10px;
    visibility: hidden;
  }

  &__score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    font-size: 2rem;
    border: 5px solid black; 
    visibility: hidden;
  }

  &__field {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 40px;

    .carrot,
    .bug {
      cursor: pointer;
    }
    
  }
}

.pop-up {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 140px;
  padding: 20px;
  background: rgba(0, 0 , 0, 0.8);
  border-radius: 4px;
  border: 3px solid white;
  color: white;
  text-align: center;

  &__refresh {
    width: 60px;
    height: 60px;
    font-size: 3rem;
    color: white;

    .fa-redo {
      transition: all .3s;
    }
    
    &:hover {
      .fa-redo {
        transform: rotate(180deg);
      }
    }
  }

  &__message {
    font-size: 1rem;
    margin-top: 20px;
  }

  &--show {
    display: block;
  }
 }
